<div>
  <h1>Xer file import</h1>
  <div>
    <input type="file" #fileImportInput name="File Upload" id="txtFileUpload" class="btn btn-primary" (change)="fileChangeListener($event)" accept=".xer"/>
  </div>
  <mat-spinner *ngIf="loading"></mat-spinner>
</div>

<div *ngIf="loaded" style="float:left;padding:10px;margin:0 auto;">
  <p>Loaded</p>
  <select [(ngModel)]="selected" (change)="onChange($event.target.value)">
      <option *ngFor="let table of tables" [(value)]="table">{{table}}</option>
  </select>
  <div *ngIf="tableSelected">
    <span>Details goes here</span>
    <table>
      <thead>
        <th *ngFor="let heading of currentHeadings">{{heading}}</th>
      </thead>
      <tr *ngFor="let record of currentTable">
        <td *ngFor="let heading of currentHeadings">
          {{record[heading]}}
        </td>
      </tr>
    </table>
  </div>
</div>