
<mat-toolbar color="primary">
    <mat-toolbar-row>
    <span>My First App</span>
    <span><a mat-button [routerLink]="'/home'"><mat-icon>home</mat-icon>Home</a></span>
    <span><a mat-button [routerLink]="'/login'"> Login </a></span>
    <span></span>
    <span></span>
    <span></span>
        <span class="example-fill-remaining-space"></span>
        <span class="align-center"></span>
        <span class="example-spacer"></span>
        <button mat-button>About</button>
        <button mat-button [matMenuTriggerFor]="menu2">Contact</button>
        <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>account_circle</mat-icon></button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <span>View Profile</span>
          </button>
        <button mat-menu-item>
          <span>
            <a mat-button [routerLink]="'/login'"> Login </a>
          </span>
        </button>

      <button mat-menu-item>
        <span>Sing out</span>
      </button>
      
    </mat-menu>
    <mat-menu #menu2="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voicemail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
      </mat-menu>
     </mat-toolbar-row>
</mat-toolbar>

<div>
<a [routerLink]="'/home'"><button mat-raised-button color="primary"><mat-icon>account_balance</mat-icon> Home</button></a>

<a [routerLink]="'/login'"><button mat-raised-button color="primary"> Login </button></a>
<a [routerLink]="'/register'"> <button mat-raised-button color="primary"> Register</button> </a>
<a [routerLink]="'/companies'"><button mat-raised-button color="primary"> Companies</button> </a>
<a [routerLink]="'/subcontractors'"> <button mat-raised-button color="primary"> Subcontractors </button></a>
</div>
<div><router-outlet></router-outlet></div>
