
<mat-card class="example-card">
  <mat-card-header>Login</mat-card-header>
  <mat-card-content>
  <form (ngSubmit)="OnLogin()" [formGroup]="userLogin" class="example-form">
    <div class="form-group">
      <mat-form-field class="form-full-width">
          <input matInput placeholder="Username" formControlName="username" id="username">
          <mat-error *ngIf="userLogin.get('username').hasError('required')">
            Username is <strong>required</strong>
          </mat-error>
        </mat-form-field>
    <br>
    <mat-form-field class="form-full-width">
        <input matInput type="password" placeholder="Password" formControlName="password" id="password">
        <mat-error *ngIf="userLogin.get('password').hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      </div>
      <mat-spinner *ngIf="loading"></mat-spinner>
      <mat-card-actions>
          <button mat-ripple mat-raised-button type="submit" id="submit" [disabled]="userLogin.invalid || loading"
          color="primary">Login</button><br>
      </mat-card-actions>
    </form>
</mat-card-content>

</mat-card>
<br>


<a [routerLink]="['/register']">Don't have an accoount? Register here</a>